{% extends "base.html" %}

{% block base_content%}
<div= id="gallery-col1">
  {% for g in galleries %}
    <a href="{% url gallery_detail g.id %}">{{ g.name }}</a>
  {% endfor %}
</div>

<div= id="gallery-col2">
  <div id="gallery">
    {% for image in images %}
      <img src="{{ image.display.url }}" alt="{{ image.title }}">
    {% endfor %}
  </div>
  <div class="clearfix"></div>
</div>

{% endblock %}

{% block extra_js %}
  <script src="/media/galleria/src/themes/twelve/galleria.twelve.min.js"></script>
  <script>
    //Galleria.loadTheme('/media/galleria/src/themes/twelve/galleria.twelve.min.js');
      $("#gallery").galleria({
        width: 750,
        height: 450
      });
  </script>
{% endblock %}