{% extends "two-column.html" %}
{% load biblion_tags %}
{% load typogrify %} 

{% block title %}{{ section_name }}{% endblock %}

{% block content %}
<h1>{{ section_name }}</h1>
{% for post in posts %}
<h2><a href="{% url blog_post post.published|date:"Y" post.published|date:"m" post.published|date:"d" post.slug %}">{{ post.title }}</a></h2>
{{ post.teaser_html|typogrify }}
<a href="{% url blog_post post.published|date:"Y" post.published|date:"m" post.published|date:"d" post.slug %}">Read more ...</a>
{% endfor %}

{% endblock %}