{% load cms_tags %}
{% load disqus_tags %}
{% load cache menu_tags %}
<head>
    <title>{% page_attribute page_title %}</title>
    <meta name="description" content="{% page_attribute meta_description %}"/>
    <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
    <link rel='stylesheet' href='/media/css/style.css' type='text/css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="/media/js/galleria-1.2.4.min.js"></script>
</head>
<html>
  <body>
    <div id="header">
      <div id="headerContent">
        <div id="logo">
          <a href="http://www.tuckerjoenz.com"><img src="/media/images/TJLogo.png" alt="Tucker Joenz Photography"></a>
        </div>
        <div id="title">
          <em>commercial <span class="and">&amp;</span> music photography</em>
        </div>
        <div id="navigation">
          <ul>
            <li>{% show_menu 0 100 100 100 %}</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div id="wrapper">
      <div id="column1">
        {% placeholder base_content %}
          {% block base_content%}
        {% endblock %}
      </div>
    </div>
    <div id="footer">
      <div id="footerContent">
        <div id="credits">Powered by Django. ©Tucker Joenz. All Rights Reserved.</div>
        <div id="social">
          You can follow me here too!!<br />
          <ul id="social-links">
            <li><a href="http://TuckerJoenz.500px.com/" target="_blank"><img src="/media/images/500px.png" alt="500px"></a></li>
            <li><a href="http://www.facebook.com/tuckerjoenz" target="_blank"><img src="/media/images/facebook.png" alt="Facebook"></a></li>
            <li><a href="http://www.flickr.com/photos/digibonez/" target="_blank"><img src="/media/images/flickr.png" alt="Flickr"></a></li>
            <li><a href="http://tuckerjoenz.posterous.com/" target="_blank"><img src="/media/images/posterous.png" alt=""></a></li>
            <li><a href="https://twitter.com/#!/tuckerjoenz" target="_blank"><img src="/media/images/twitter.png" alt="Twitter"></a></li>
            <li><a href="http://vimeo.com/tuckerjoenz" target="_blank"><img src="/media/images/vimeo.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
   {% block extra_js %}
   {% endblock %}
</html>