{% load cms_tags %}
<head>
    <title>{% page_attribute page_title %}</title>
    <meta name="description" content="{% page_attribute meta_description %}"/>
    <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="/media/js/galleria-1.2.4.min.js"></script>
</head>
<html>
  <body>
   {% placeholder base_content %}
   {% block base_content%}
   {% endblock %}
  </body>
   {% block extra_js %}
   {% endblock %}
</html>